<ion-view view-title="" class="profile favourite">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/bg-album2.jpeg');">
            <div class="content">
                <div class="avatar shadow left" style="background-image: url('img/artist5.jpg');"></div>
                <h3 class="left"><a class="light">Kishore Kumar</a></h3>
                <div class="buy">
                    <div class="space"></div>
                    <div class="n-btn">
                          <div class="center btn-b first-btn">
                             <a class="white">200<p>Songs</p></a>
                          </div>
                          <div class="center btn-b">
                            <button class="button button-small">Buy Song</button><br>
                             <a class="white">15 Albums </a>
                          </div>
                          <div class="center btn-b">
                            <button class="button button-small">Buy Album</button><br>
                             <a class="white">1200 Following</a>
                          </div>
                         
                    </div>

                </div>
            </div>
        </div>
        <!-- <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.favourite" class="tab-item">
                <i class="icon ion-heart"></i> Favourites
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-ios-calendar"></i> Events
            </a>
        </div> -->
        <!-- <h4 class="content padding double-padding-x">Following</h4>
-->     <div class="preview">
           <!-- <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/152826088&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe> -->
        </div>

        <div class="tabs tabs-dark  static icon-tabs">
            
            <a  class="tab-item">
                <i class="ion-thumbsup" ng-class="{'icon lightining': liked, 'icon ': !liked}" ng-click="liked=!liked"></i>
            </a>
            <a class="tab-item">
                <i class="ion-heart" ng-class="{'icon lightining': hearted, 'icon ': !hearted}" ng-click="hearted=!hearted"></i>
            </a>
            <a class="tab-item">
                <i class="ion-android-share-alt" ng-class="{'icon lightining': shared, 'icon ': !shared}" ng-click="shared=!shared"></i>
            </a>
        </div>


        <div class="list animate-fade-slide-in-right dark-grey-bg list-music">

             <a ui-sref="app.soundalbum2" class="item item-icon-right" ng-repeat="favourite in favourites | orderBy: 'name' ">
                <img src="{{favourite.img}}" class="album shadow">
                <h2>{{favourite.name}}</h2>
                <p class='album-name'>Album: {{favourite.album}}</p>
                <p class="info-m"><i class="ion-heart"></i>&nbsp;{{favourite.heart}}&nbsp;&nbsp;<i class="ion-music-note"></i>&nbsp;{{favourite.music}} &nbsp;&nbsp;<i class="ion-android-download"></i>&nbsp;{{favourite.download}}</p>
                <i class="icon ion-android-arrow-dropdown-circle muted"></i>
            </a>
           
        
           
           <!--  <a ui-sref="app.sounds" class="item item-icon-right">
                <img src="img/album1.jpg" class="album shadow">
                <h2>Bappaditya Gole </h2>
                <p class='album-name'>Album: Bappaditya Gole </p>
                <p class="info-m"><i class="ion-heart"></i>&nbsp;1202&nbsp;&nbsp;<i class="ion-music-note"></i>&nbsp;101 &nbsp;&nbsp;<i class="ion-android-download"></i>&nbsp;3987</p>
                <i class="icon ion-android-arrow-dropdown-circle muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-icon-right">
                 <img src="img/album2.jpg" class="album shadow">
                <h2>Bappaditya Gole</h2>
                <p class='album-name'>Album: Bappaditya Gole </p>
                <p class="info-m"><i class="ion-heart"></i>&nbsp;1202&nbsp;&nbsp;<i class="ion-music-note"></i>&nbsp;101 &nbsp;&nbsp;<i class="ion-android-download"></i>&nbsp;3987</p>
                <i class="icon ion-android-arrow-dropdown-circle muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-icon-right">
                 <img src="img/album5.jpg" class="album shadow">
                <h2>Bappaditya Gole</h2>
                <p class='album-name'>Album: Bappaditya Gole </p>
                <p class="info-m"><i class="ion-heart"></i>&nbsp;1202&nbsp;&nbsp;<i class="ion-music-note"></i>&nbsp;101 &nbsp;&nbsp;<i class="ion-android-download"></i>&nbsp;3987</p>
                <i class="icon ion-android-arrow-dropdown-circle muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-icon-right">
                <img src="img/album3.jpg" class="album shadow">
                <h2>Bappaditya Gole</h2>
                <p class='album-name'>Album: Bappaditya Gole </p>
                <p class="info-m"><i class="ion-heart"></i>&nbsp;1202&nbsp;&nbsp;<i class="ion-music-note"></i>&nbsp;101 &nbsp;&nbsp;<i class="ion-android-download"></i>&nbsp;3987</p>
                <i class="icon ion-android-arrow-dropdown-circle muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-icon-right">
                 <img src="img/album4.jpg" class="album shadow">
                <h2>Bappaditya Gole</h2>
                <p class='album-name'>Album: Bappaditya Gole </p>
                <p class="info-m"><i class="ion-heart"></i>&nbsp;1202&nbsp;&nbsp;<i class="ion-music-note"></i>&nbsp;101 &nbsp;&nbsp;<i class="ion-android-download"></i>&nbsp;3987</p>
                <i class="icon ion-android-arrow-dropdown-circle muted"></i>
            </a>
             -->
        </div>

        <!-- modal template -->
        <!-- modal template -->
        <!-- modal template -->
        <script id="modal-search.html" type="text/ng-template">
          <div class="modal">
            <ion-header-bar>
              <h4 class="title">Find your favourite song</h4>
            </ion-header-bar>
            <ion-content>
              <div class="list center">
                
              </div>
              <div class="item">

               <div class="list top-list">

                  <label class="item item-radio">
                    <input type="radio" name="group" checked="checked">
                    <div class="item-content">
                      Artist
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>
                  <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                      Album
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>
                  <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                      Song
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>
                  <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                      Genre
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>

           

                </div>

                <div class="list">
                  <label class="item item-input btn-s">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                  </label>

                </div>

                <div class="list">


                    <button class="button button-full btn-n" ui-sref="app.artists">
                      Search
                    </button>

                </div>
            

              </div>
            </ion-content>
          </div>
        </script>
        <!-- modal template -->
        <!-- modal template -->


        <!-- modal template -->
        <!-- modal template -->
        <!-- modal template -->
        <script id="modal-video.html" type="text/ng-template">
          <div class="modal">
            <ion-header-bar>
              <h4 class="title">Find your favourite videos</h4>
            </ion-header-bar>
            <ion-content>
              <div class="list center">
                
              </div>
              <div class="item">

               <div class="list top-list">

                  <label class="item item-radio">
                    <input type="radio" name="group" checked="checked">
                    <div class="item-content">
                      Artist
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>
                  <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                      Category
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>
                  <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                      Title
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>
                  <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                      Genre
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>

           

                </div>

                <div class="list">
                  <label class="item item-input btn-s">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                  </label>

                </div>

                <div class="list">


                    <button class="button button-full btn-n" ui-sref="app.videolist">
                      Search
                    </button>

                </div>
            

              </div>
            </ion-content>
          </div>
        </script>
        <!-- modal template -->
        <!-- modal template -->

        <div class="space-footer"></div>
    </ion-content>

    <div class="bar bar-footer bar bar-dark"> 
       <!-- <div class="title footer-logo"><img src="img/footer-img.jpg" class="img-f"></div> -->
        <div class="row footer-ico">
              <div class="col center">
                  <a class="white" ui-sref="app.profile"><i class="ion-ios-home"></i></a>
              </div>
              <div class="col center">
                 <a class="white" ng-controller='ModalSearchCtrl' ng-click="openModal()"><i class="ion-android-search"></i></a>
              </div>
              <div class="col center">
                 <a class="white" ui-sref="app.profiledetails"><i class="ion-person"></i></a>
              </div>
              <div class="col center">
                 <a class="white" ui-sref="app.playlist"><i class="ion-ios-musical-notes"></i></a>
              </div>
        </div>
    </div>
</ion-view>
