<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/bg.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon dark-shadow"></div>
                <h1>JANA GANA</h1>
                
            </div>
        </div>
        <div class="container-center-login"> 
            <div class="list">
                <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
                <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
            </div>
            
        </div>
    
        <div class="list padding">
            <button ui-sref="app.profile" class="shadow button button-full button-assertive ink">Login</button>  
        </div>


        <div class="container-center-login">
            <div class="row">
              <div class="col center">
                 <a class="white" ui-sref="app.createaccount"><i class="ion-person-add"></i>&nbsp;&nbsp;Sign Up Now</a>
              </div>
              <div class="col center">
                <a class="white">Forgot Password</a>
              </div>
            </div>
               
        </div>

        <!-- <div class="button-bar social-login">
           
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
           
        </div> -->
    </ion-content>
</ion-view>
