<ion-view view-title="" class="profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg2.jpg');">
            <div class="content">
                <div class="avatar shadow" style="background-image: url('img/avatar.jpg');"></div>
                <h3><a class="light">Daphne Montiel </a></h3>
                <h4>Welcome to JanaGana</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.favourite" class="tab-item">
                <i class="icon ion-heart"></i> favourite
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Following
            </a>
            <a ui-sref="app.classlist" class="tab-item">
                <i class="icon ion-ios-book"></i> Music Classes 
            </a>
        </div>

     
        <div class="list animate-fade-slide-in-right grey-bg">

           <!--  <a class="item item-avatar item-icon-right" ng-repeat="profile in profiles | orderBy: 'name' ">
                <img src="{{profile.img}}">
                <h2>{{profile.name}}</h2>
                <p ng-bind-html="to_trusted(profile.content)"></p>
                <i class="icon ion-plus-circled muted"></i>
            </a> -->
            <a ng-controller='ModalSearchCtrl' ng-click="openModal()" class="item item-avatar item-icon-right">
                <img src="img/ico-music.jpg">
                <h2>Music</h2>
                <p>Find your favorite songs</p>
                <i class="icon ion-plus-circled muted"></i>
            </a>
            <a ng-controller='ModalVideoCtrl' ng-click="openModal()"  class="item item-avatar item-icon-right">
                <img src="img/ico-videos.jpg">
                <h2>Videos</h2>
                <p>Find your favorite videos</p>
                <i class="icon ion-plus-circled muted"></i>
            </a>
            <a ui-sref="app.events" class="item item-avatar item-icon-right">
                <img src="img/ico-events.jpg">
                <h2>Events</h2>
                <p>The best events ever</p>
                <i class="icon ion-plus-circled muted"></i>
            </a>
            <a ui-sref="app.classlist" class="item item-avatar item-icon-right">
                <img src="img/ico-classes.jpg">
                <h2>Music Classes</h2>
                <p>Take music classes</p>
                <i class="icon ion-plus-circled muted"></i>
            </a>
            
           
        </div>

        <div class="space-footer"></div>
         
    </ion-content>

   

        <!-- modal template -->
        <!-- modal template -->
        <!-- modal template -->
        <script id="modal-search.html" type="text/ng-template">
          <div class="modal">
            <ion-header-bar>
              <h4 class="title">Find your favourite song</h4>
            </ion-header-bar>
            <ion-content>
              <div class="list center">
                
              </div>
              <div class="item">

               <div class="list top-list">

                  <label class="item item-radio">
                    <input type="radio" name="group" checked="checked">
                    <div class="item-content">
                      Artist
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>
                  <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                      Album
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>
                  <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                      Song
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>
                  <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                      Genre
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>

           

                </div>

                <div class="list">
                  <label class="item item-input btn-s">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                  </label>

                </div>

                <div class="list">


                    <button class="button button-full btn-n" ui-sref="app.artists">
                      Search
                    </button>

                </div>
            

              </div>
            </ion-content>
          </div>
        </script>
        <!-- modal template -->
        <!-- modal template -->


        <!-- modal template -->
        <!-- modal template -->
        <!-- modal template -->
        <script id="modal-video.html" type="text/ng-template">
          <div class="modal">
            <ion-header-bar>
              <h4 class="title">Find your favourite videos</h4>
            </ion-header-bar>
            <ion-content>
              <div class="list center">
                
              </div>
              <div class="item">

               <div class="list top-list">

                  <label class="item item-radio">
                    <input type="radio" name="group" checked="checked">
                    <div class="item-content">
                      Artist
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>
                  <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                      Category
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>
                  <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                      Title
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>
                  <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                      Genre
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>

           

                </div>

                <div class="list">
                  <label class="item item-input btn-s">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                  </label>

                </div>

                <div class="list">


                    <button class="button button-full btn-n" ui-sref="app.videolist">
                      Search
                    </button>

                </div>
            

              </div>
            </ion-content>
          </div>
        </script>
        <!-- modal template -->
        <!-- modal template -->


     
    <div class="bar bar-footer bar bar-dark"> 
       <!-- <div class="title footer-logo"><img src="img/footer-img.jpg" class="img-f"></div> -->
        <div class="row footer-ico">
              <div class="col center">
                  <a class="white" ui-sref="app.profile"><i class="ion-ios-home"></i></a>
              </div>
              <div class="col center">
                 <a class="white" ng-controller='ModalSearchCtrl' ng-click="openModal()"><i class="ion-android-search"></i></a>
              </div>
              <div class="col center">
                 <a class="white" ui-sref="app.profiledetails"><i class="ion-person"></i></a>
              </div>
              <div class="col center">
                 <a class="white" ui-sref="app.playlist"><i class="ion-ios-musical-notes"></i></a>
              </div>
        </div>
    </div>
</ion-view>
